@import "primereact/resources/themes/lara-light-blue/theme.css"; /* Choose a theme */
@import "primereact/resources/primereact.min.css"; /* Core styles */
@import "primeicons/primeicons.css"; /* Icons */
@import "react-phone-input-2/lib/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f4f5fa;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 32px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.manageTable ::-webkit-scrollbar {
  display: none !important;
  width: 5px;
}

.selected-row {
  background-color: #86644c !important;
  color: white;
}

.custom-checkbox .p-checkbox-box {
  border: 1px solid black;
  background-color: transparent;
}

.custom-checkbox .p-checkbox-box.p-highlight {
  background-color: #3e342c !important;
  border-color: #3e342c !important;
}

.custom-checkbox .p-checkbox-box.p-highlight .p-checkbox-icon {
  color: white !important;
}

.custom-checkbox .p-checkbox-box:not(.p-highlight) {
  border-color: black !important;
}

.p-datatable thead .p-checkbox-box {
  border: 1px solid black;
  background-color: transparent;
}

.p-datatable thead .p-checkbox-box.p-highlight {
  background-color: #3e342c !important;
  border-color: #3e342c !important;
}

.p-datatable thead .p-checkbox-box.p-highlight .p-checkbox-icon {
  color: white !important;
}

.p-datatable thead .p-checkbox-box:not(.p-highlight) {
  border-color: black !important;
}

.p-datatable thead .p-checkbox-box:hover {
  border-color: #3e342c;
}



/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
 
  